body {
  margin: 0;
  background-color: lightgoldenrodyellow;
}

h1 {
  text-align: center;
}

.searchbar {
  margin: auto;
  width: 200px;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.recipe-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.recipe-card {
  /* width: 95vw; */
  color: lightgoldenrodyellow;
}

.recipe-card h3 {
  text-align: center;
}

.img-container img{
  width: 250px;
}

.slide-down {
  transition: visibility 1s, opacity 1s, max-height .5s;
  visibility: visible;
  opacity: 1;
  max-height: 300px;
}

.slide-up {
  transition: visibility .6s, opacity .6s, max-height 1s;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
}

.even {
  background-color: green;
}

.odd {
  background-color: red;
}