body {
  margin: 0;
}

h1 {
  text-align: center;
}

.searchbar {
  margin: auto;
  width: 200px;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.recipe-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.recipe-card {
  width: 90vw;
}

.recipe-card h3 {
  text-align: center;
}

.img-container img{
  width: 250px;
}
