body {
  margin: 0;
  background-color: lightgoldenrodyellow;
}

h1 {
  text-align: center;
}

.searchbar {
  margin: auto;
  width: 200px;
}

.recipe-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.recipe-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

.show-more-btn {
  margin: 0;
  position: relative;
  left: 50%;
}

.recipe-card {
  color: lightgoldenrodyellow;
  margin: 20px;
  width: 600px;
}

.recipe-card h3 {
  text-align: center;
}

/* recipe items */
.img-container {
  margin: 5px;
}

.img-container img{
  width: 250px;
}

.info {
  margin: 5px;
}

.instructions {
  flex-shrink: 2;
  margin: 5px;
}

.ingredients {
  margin: 5px;
}

.ingredients ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

ul li {
  padding-right: 1em;
}

/* button transitions */
.slide-down {
  transition: visibility 1s, opacity 1s, max-height .6s;
  visibility: visible;
  opacity: 1;
  max-height: 800px;
}

.slide-up {
  transition: visibility .6s, opacity .6s, max-height 1s;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
}

/* alternating background color */
.even {
  background-color: forestgreen;
}

.odd {
  background-color: firebrick;
}